<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email</title>
</head>
<body>
<div>Hi <span th:text="${username}"></span>,</div><br/>
<div>Thank you for choosing us.</div>
<div>You have successfully signed up to our site.</div><br/>
<div>Welcome to our community. We are happy to have you on board.</div>
<div>Please login and update your information to start enjoying the full benefits.</div><br/>
<p>
  Regards,<br/>
  <em>FitMyJob</em>
</p>
<img src="cid:attachment.png" alt="FitMyJob Logo" width="160" height="160" />
</body>
</html>